<!--=== Footer Version 1 ===-->
<div class="footer-v1">
	<div class="footer">
		<div class="container">
			<div class="row">
				<!-- About -->
				<div class="col-md-3 md-margin-bottom-40">
					<a href="{{base_url}}/"><img id="logo-footer" class="footer-logo" src="{{empresa.urlLogo}}" alt=""></a>
					<p>{{empresa.slogan}}</p>
				</div><!--/col-md-3-->
				<!-- End About -->

				<!-- Latest -->
				{%if posts%}
				<div class="col-md-3 md-margin-bottom-40">
					<div class="posts">
						<div class="headline"><h2>Postagens</h2></div>
						<ul class="list-unstyled latest-list">
							{%if posts.length > 5%}
							{% for i in 0..5 %}
							<li>
								<a href="{{base_url}}/post/{{ posts[i].titulo}}">{{ posts[i].nomeMenu}}</a>
								<small>{{posts[i].date |date("d/m/Y G:i:s")}}</small>
							</li>
							{% endfor %}
							{%else%}
							{% for post in posts %}
							<li>
								<a href="{{base_url}}/post/{{ post.titulo}}">{{ post.nomeMenu}}</a>
								<small>{{post.date |date("d/m/Y G:i:s")}}</small>
							</li>
							{% endfor %}
							{%endif%}
						</ul>
					</div>
				</div><!--/col-md-3-->
				{%endif%}
				<!-- End Latest -->

				<!-- Link List -->
				{%if menus%}
				<div class="col-md-3 md-margin-bottom-40">
					<div class="headline"><h2>Links Úteis</h2></div>
					<ul class="list-unstyled link-list">
						{% for menu in menus %}
						<li><a href="{{base_url}}/{{ menu.url }}">{{ menu.texto }}</a><i class="fa fa-angle-right"></i></li>
						{% endfor %}
					</ul>
				</div><!--/col-md-3-->
				{%endif%}
				<!-- End Link List -->

				<!-- Address -->
				<div class="col-md-3 map-img md-margin-bottom-40">
					<div class="headline"><h2>Fale Conosco</h2></div>
					<address class="md-margin-bottom-40">
						{{empresa.endereco}} <br />
						Telefone: {{empresa.telefone}} <br />
						Email: <a href="mailto:{{empresa.emailContato}}">{{empresa.emailContato}}</a>
					</address>
				</div><!--/col-md-3-->
				<!-- End Address -->
			</div>
		</div>
	</div><!--/footer-->

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>
						2015 &copy; Todos os Direitos Reservados.
						<a href="http://bestsmart.com.br">BestSmart</a>
					</p>
				</div>
				<div class="col-md-6">
					<ul class="footer-socials list-inline">
						{%if empresa.facebookPageUrl%}
						{%set facebooUrl = empresa.facebookPageUrl%}
						{%else%}
						{%set facebooUrl = empresa.dominio%}
						{%endif%}
						<li style="vertical-align: bottom;"><div style="max-height: 20px;"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a></div></li>
						<li style="vertical-align: bottom;"><div style="max-height: 20px;"><div class="g-plus" data-action="share" data-annotation="none" data-href="{{url}}"></div></div></li>
						<li style="vertical-align: bottom;"><div style="max-height: 20px;"><script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: pt_BR</script>
								<script type="IN/Share" data-url="{{url}}"></script></div></li>
						<li><div class="fb-share-button" data-href="{{url}}" data-layout="button_count"></div></li>   
						<li><div class="fb-like" data-href="{{facebookUrl}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-colorscheme="light"></div></li>   
					</ul>
				</div>
			</div>
		</div>
	</div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->