<div class="navbar navbar-default mega-menu" role="navigation">
	<div class="container">
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="fa fa-bars"></span>
					</button>

					<a class="navbar-brand" href="{{base_url}}/">
						<img id="logo-header" src=" {{empresa.urlLogo}}" alt="Logo">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav">
						<li  class="{{ menu_url == '' ? 'active' }}"><a href="{{base_url}}/">Home</a></li>
						<li  class="{{ menu_url == 'Quem Somos' ? 'active' }}"><a href="{{base_url}}/quemsomos">Quem Somos</a></li>
						{% for menu in menus %}
						<li class="{{ menu.url == pagina.titulo ? 'active' }}"><a href="{{base_url}}/{{ menu.url }}">{{ menu.texto }}</a></li>
						{% endfor %}
						{%if produtos%}
						<li class="{{ menu_url == 'produtos/1' ? 'active' }}"><a href="{{base_url}}/produtos/1">Produtos</a></li>
						{%endif%}
						{%if posts%}
						<li class="{{ menu_url == 'posts/1' ? 'active' }}"><a href="{{base_url}}/posts/1">Blog</a></li>
						{%endif%}
						{%if albuns%}
						<li class="{{ menu_url == 'galeria' ? 'active' }}"><a href="{{base_url}}/galeria">Galeria</a></li>
						{%endif%}
						<li class="{{ menu_url == 'contato' ? 'active' }}"><a href="{{base_url}}/contato">Contato</a></li>
					</ul>
				</div><!--/navbar-collapse-->
			</div>
		</div>
	</div>
</div>