<div class="container">
	<!-- Topbar -->
	<div class="topbar-v3">
		<div class="row">
			<div class="col-sm-8">
				<ul class="list-inline top-v2-contacts">
					<li>Email: <a href="mailto:{{empresa.emailContato}}">{{empresa.emailContato}}</a></li>
					<li>Telefone: {{empresa.telefone}}</li>
					<li><div class="fb-share-button" data-href="{{url}}" data-layout="button_count"></div></li> 
                    <li><div class="fb-like" data-href="{{empresa.dominio}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-colorscheme="light"></div></li>  
				</ul>
				<!-- End Topbar Navigation -->
			</div>
		</div>
	</div>
	<!-- End Topbar -->
</div>