meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

meta(name='description', content='{{app.description}}')
meta(name='keywords', content='sistema gestão empresa controle lucro informação')

title(data-ng-bind="pageTitle()") bs-cms

link(rel='stylesheet', href='app/css/app.css')