
<title>{{title}}</title>

<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{empresa.resumo|striptags }}">
<meta name="author" content="BestSmart Negócio e Tecnologia">
<meta name="keywords" content="{{tags}}">
<meta name="robots" content="index, follow">
<meta property="og:locale" content="pt_BR">

<meta property="og:url" content="{{empresa.dominio}}">

<meta property="og:title" content="{{title}}">
<meta property="og:site_name" content="{{empresa.nome}}">

<meta property="og:description" content="{{empresa.resumo|striptags }}">

<meta property="og:type" content="website">

<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="{{base_url}}/{{templateName}}/assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{base_url}}/{{templateName}}/assets/css/shop.style.css">

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="{{base_url}}/{{templateName}}/assets/plugins/line-icons/line-icons.css">
<link rel="stylesheet" href="{{base_url}}/{{templateName}}/assets/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="{{base_url}}/{{templateName}}/assets/plugins/scrollbar/src/perfect-scrollbar.css">
<link rel="stylesheet" href="{{base_url}}/{{templateName}}/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="{{base_url}}/{{templateName}}/assets/plugins/revolution-slider/rs-plugin/css/settings.css">

{%block more_css%}
{%endblock%}
<!-- CSS Theme -->
<link rel="stylesheet" href="{{base_url}}/{{templateName}}/assets/css/theme-colors/{{templateCollor}}.css">

<!-- CSS Customization -->
<link rel="stylesheet" href="{{base_url}}/{{templateName}}/assets/css/custom.css">
