.container-fluid
	// Row Select Example
	#tableCredenciais.panel.panel-info
		.panel-heading 
			span.h4 Lista de Usuários
			paneltool(tool-collapse)
		.panel-wrapper(collapse="tableCredenciais",ng-init="tableCredenciais=true")
			.panel-body
				table.table.ng-table-rowselected(ng-table='tableParams')
					tr(ng-repeat='cred in $data', ng-click='setCredencial(cred)', ng-class="{'active primary': cred.id === credencial.id }")
						td(data-title="'Email'", sortable="'email'", filter="{ 'email': 'text' }") {{cred.email}}
						td(data-title="'Login'", sortable="'login'") {{cred.login}}
	.panel.panel-default
		.panel-body
			button.btn.btn-labeled.btn-primary(type='button', ng-click="novaCredencial()")
				span.btn-label
					i.fa.fa-plus-circle
				| Novo
			button.btn.btn-labeled.btn-primary(type='button', ng-click="salvar()",ng-disabled="!temCredencial()")
				span.btn-label
					i.fa.fa-floppy-o
				| Salvar
			button.btn.btn-labeled.btn-primary(type='button', ng-click="remover()",ng-disabled="!temCredencial() || credencial.id === undefined")
				span.btn-label
					i.fa.fa-trash
				| Remover
	#formCredenciais.panel.panel-info(ng-if="temCredencial()")
		.panel-heading
			span.h4 {{credencial.id +' - '+ credencial.login}}
			paneltool(tool-collapse)
		.panel-wrapper(collapse="formCredenciais", ng-init="formCredenciais=true")
			.panel-body
				form#formularioCredenciais(action="#",validate-form='', novalidate='')
					fieldset
						.col-md-12
							.col-md-6
								.form-group
									label.control-label(for="credencial-email") Email: *
									input.form-control#credencial-email(type='email', name='nome', ng-model='credencial.email', placeholder="Digite o email",required)
							.col-md-6
								.form-group
									label.control-label(for="credencial-login") Login *
									input.form-control#credencial-login(ng-model="credencial.login",type='text', placeholder="Digite o Login", required)
						.col-md-12
							.col-md-6
								.form-group
									label.control-label Senha
									span.form-control.btn.btn-primary(ng-click="enviarNovaSenha()", ng-disabled="credencial.id === undefined") Nova Senha
	