{% extends "template.html" %}
{%set menu_url='produtos/1'%}
{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
	<div class="container">
		<h1 class="pull-left">{{produto.nome}}</h1>
		<ul class="pull-right breadcrumb">
			<li><a href="{{base_url}}/">Home</a></li>
			<li><a href="{{base_url}}/produtos/1">Produtos</a></li>
			<li class="active">{{produto.nome}}</li>
		</ul>
	</div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--Blog Post-->
<div class="container content">
	<div class="row margin-bottom-60">
		{%if imagens%}
		<div class="slide-product">
			<div class="carousel slide carousel-v1" id="myCarousel">
				<div class="carousel-inner">
					{% for image in imagens %}
					<div class="item {%if loop.first %}active{%endif%}">
						<img alt="" src="../{{image['url']}}">
					</div>
					{%endfor%}
				</div>

				<div class="carousel-arrow">
					<a data-slide="prev" href="#myCarousel" class="left carousel-control">
						<i class="fa fa-angle-left"></i>
					</a>
					<a data-slide="next" href="#myCarousel" class="right carousel-control">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
		{%endif%}
		<div class="col-sm-8">
			<div class="headline"><h2>Descrição</h2></div>
			<p>{{produto.conteudo | raw}}</p>
		</div>
		<div class="col-sm-4">
			<div class="headline"><h2>Detalhes</h2></div>
			<ul class="list-unstyled project-details">
				{%for detalhe in produto.detalhes%}
				<li><strong>{{detalhe.label}}:</strong> {{detalhe.conteudo}}</li>
				{%endfor%}
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="fb-share-button" data-href="{{url}}" data-layout="button_count"></div>
		<div class="fb-comments" data-href="{{url}}" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
	</div>
</div>
{% endblock %}