{% extends "template.html" %}
{%set menu_url='produtos/1'%}
{%block head%}
{%block more_css%}
{{parent()}}
<!-- CSS Page Style -->    
<link rel="stylesheet" href="{{base_url}}/{{templateName}}/assets/css/pages/portfolio-v2.css">
{%endblock%}
{{parent()}}
{%endblock%}

{% block content %}

<!--=== Content Part ===-->
<div class="container content">
	<div class="sorting-block">
		<ul class="sorting-nav sorting-nav-v1 text-center">
			<li class="filter" data-filter="all">Todos</li>
			{%for tag in tags%}
			<li class="filter" data-filter="{{tag}}">{{tag}}</li>
			{%endfor%}
		</ul>
		<ul class="row sorting-grid">
			{%for produto in produtos%}
			<li class="col-md-3 col-sm-6 col-xs-12 mix {{produto.tags | replace({',':''})}}" data-cat="1">
				<a href="{{base_url}}/produto/{{produto.nome | url_encode }}">
					{%if produto.album %}
					<img class="img-responsive" src="{{base_url}}/{{produto.album}}" alt="">
					{%else%}
					<img class="img-responsive" src="{{base_url}}/noimage.jpg" alt="">
					{%endif%}
					<span class="sorting-cover text-center">
						<span>{{produto.nome}}</span>
						<p>{{produto.resumo |slice(0, 350)}}</p>
					</span>
				</a>
			</li>
			{%endfor%}
		</ul>
	</div>
</div>
<div class="container">
	<div class="text-center">
		<ul class="pagination">
			{% if pages == 1 %}
			<li><a href="{{pages}}">{{pages}}</a></li>
			{% else %}
			{% for i in 0..pages %}
			<li><a href="{{pages}}">{{loop.index}}</a></li>
			{% endfor %}
			{%endif%}
		</ul>
	</div>
</div>
{% endblock %}
{%block scripts%}
{{parent()}}
{%block more_scripts%}
{{parent()}}
<script type="text/javascript" src="{{base_url}}/{{templateName}}/assets/plugins/jquery.mixitup.min.js"></script> 
<script type="text/javascript" src="{{base_url}}/{{templateName}}/assets/js/pages/page_portfolio.js"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
	App.init();
	PortfolioPage.init();
});
</script>
{%endblock%}
{%endblock%}