{% extends "template.html" %}
{%set menu_url= 'galeria'%}
{%block head%}

<meta property="article:author" content="{{empresa.nome}}">
<meta property="article:tag" content="imagens, albuns, galeria">
<meta property="article:published_time" content="{{time}}">
{{parent()}}
{%block more_css%}
<link rel="stylesheet" href="{{base_url}}/{{templateName}}/assets/plugins/fancybox/source/jquery.fancybox.css">   
{%endblock%}
{%endblock%}

{% block content %}
<div class="container content">
	<div class="blog-page ">    
		<!-- Left Sidebar -->
		<div class="col-md-4 ">
			<!-- Posts -->
			<div class="posts margin-bottom-40">
				<div class="headline headline-md"><h2>Albuns</h2></div>
				{%for album in albuns%}
				{%if album.getCapa()%}
				{%set capa = album.getCapa().thumbnail%}
				{%else%}
				{%set capa = 'noimage.jpg'%}
				{%endif%}
				<dl class="dl-horizontal">
					<dt><a href="{{base_url}}/galeria/{{album.nome}}/1"><img src="{{base_url}}/{{capa | replace({'../../':''})}}" alt="" /></a></dt>
					<dd>
						{%if album.descricao%}
						{%set descricao = album.descricao%}
						{%else%}
						{%set descricao = album.nome%}
						{%endif%}
						<p><a href="{{base_url}}/galeria/{{album.nome}}/1">{{descricao}}</a></p> 
					</dd>
				</dl>
				{%endfor%}
			</div><!--/posts-->
			<!-- End Posts -->
		</div>
		<!-- Right Sidebar -->
		<div class="col-md-8">
			<div class="gallery-page">
				<div class="row margin-bottom-20">
					{%for imagem in imagens%}
					<div class="col-md-3 col-sm-6 gallery-item">
						<a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Imagem {{loop.index}}" href="{{base_url}}/{{imagem.url | replace({'../../':''})}}">
							<span class="overlay-zoom">  
								<img alt="" src="{{base_url}}/{{imagem.thumbnail | replace({'../../':''})}}" class="img-responsive">
								<span class="zoom-icon"></span>
							</span>                                              
						</a>
					</div>
					{%endfor%}
				</div>
				<div class="text-right">
					<ul class="pagination">
						{% if pages == 1 %}
						<li><a href="{{pages}}">{{loop.index}}</a></li>
						{% else %}
						{% for i in 0..pages %}
						<li><a href="{{pages}}">{{loop.index}}</a></li>
						{% endfor %}
						{%endif%}
					</ul>
				</div>			
			</div><!--/gallery-page-->
		</div>
		<!-- End Right Sidebar -->
	</div>
	<div class="row col-md-12">
		<div class="fb-share-button" data-href="{{url}}" data-layout="button_count"></div>
		<div class="fb-comments" data-href="{{url}}" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
	</div>
</div>
{% endblock %}

{%block scripts%}
{{parent()}}
{%block more_scripts%}
<script type="text/javascript" src="{{base_url}}/{{templateName}}/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{{base_url}}/{{templateName}}/assets/js/plugins/fancy-box.js"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
	App.init();
	FancyBox.initFancybox();
});
</script>
{%endblock%}
{%endblock%}